*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: "Poppins",sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #EEEBEC;
}
footer{
    position: fixed;
    width:100%;
    bottom:0;
    left:0;
    background-color:rgb(30, 30, 202);

}
footer::before{
    content: '';
    position: absolute;
    background: #AFAFB6;
    height: 1.5px;
    width: 100%;
    top:100px;
    left:0;
}
footer .container{
    max-width: 1250px;
    margin:auto;
    padding: 30px 40px 40px 40px;
}

footer .container .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

}
.container .top .log-details{
    color:white;
    font-size:30px;


}
.container .top .media_details{
    display: flex;
}
.container .top .media_details a{
    
    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.top .media_details a:nth-child(1){
    background: #4264b2;
}

.top .media_details a:nth-child(1):hover{
    color: #4264b2;
    background: #fff;
}

.top .media_details a:nth-child(2){
    background: #FF0000;
}

.top .media_details a:nth-child(2):hover{
    color: #FF0000;;
    background: #fff;
}

.top .media_details a:nth-child(3){
    background: #1DA1F2;
}

.top .media_details a:nth-child(3):hover{
    color: #1DA1F2;
    background: #fff;
}

.top .media_details a:nth-child(4){
    background: black;
}

.top .media_details a:nth-child(4):hover{
    color: black;
    background: #fff;
}

footer .container .link_boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .container .link_boxes .box{
    width: calc(100%/5 - 10px);
    margin-top: 10px;
}
.container .link_boxes .box .Link_name{
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400;
    position: relative;
}

.container .link_boxes .box .Link_name::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left:0;
    height: 2px;
    width: 35px;
    background: #fff;

}

.container .link_boxes .box li{
    list-style: none;
    margin: 5px 0;
}
.container .link_boxes .box a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    transition: all 0.4 ease;

}
.container .link_boxes .box a:hover{
    opacity: 1;
    text-decoration: underline;

}

.container .link_boxes .input_box {
    margin-right: 55px;
}
.container .link_boxes .input_box input{
    height: 40px;
    width: calc(100% +55px);
    font-size: 16px;
    outline: none;
    padding: 0 13px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgb(30, 30, 202);
    color: #fff;
    margin-top: 10px;

}
.container .link_boxes .input_box input::placeholder{
    color:#fff;
}
.container .link_boxes .input_box input[type="button"]{
    background: #fff;
    color: rgb(30, 30, 202);
    font-size: 18px;
    transition: all 0.4 ease;
    cursor: pointer;
    opacity: 0.8;
}
.link_boxes .input_box input[type="button"]:hover{
 opacity: 1;

}

footer .botton_details{
    width: 100%;
    background: #231971;
 }

 footer .botton_details .buttons_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
 }
 footer .botton_details .buttons_text span,
 footer .botton_details .buttons_text a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3 ease;

  }

   footer .botton_details .buttons_text a:hover{
     opacity: 1;
     text-decoration: underline;
   }
@media(max-width:900px){

    footer .container .link_boxes{
        flex-wrap: wrap;
    }
   
    footer .container .link_boxes .input_box {
        width: 40%;
        margin-top: 10px;
    }


}
@media (max-width:700px){
    .container .top .log-details{
        font-size: 26px;
    }
    footer{
        position: relative;
    }
    .container .top .media_details a{
    
    height: 34px;
    width: 34px;
    font-size: 14px;
    line-height: 34px;

    }
    footer .container .link_boxes .box{
    width: calc(100%/3 - 10px);
     }
    footer .container .link_boxes .input_box {
        width: 60%;
    }
    footer .botton_details .buttons_text span,
    footer .botton_details .buttons_text a{
        font-size: 14px;

 }

}
@media (max-width:520px) {
    footer::before{
        top:145px;
    }
    footer .container .top{
        flex-direction: column;
    }
    .container .top .media_details{
        margin-top: 17px;
    }
    footer .container .link_boxes .box{
         width: calc(100%/2 - 10px);
     }
        footer .container .link_boxes .input_box {
            width: 100%;
        }


    
}

